body, html {
    height: 100%;
    margin: 0;
    background: #f3f3f3;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 400;
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}
